<h1 style="text-align: center;">R Basics Activities</h1>

<p style="text-align: center;">July, 2024</p>


**1. Using R History in the Console** 

Run the following code in an R Console:

In [6]:
3+4
3-4
3*4
3/4
3^4

[1] 7

[1] -1

[1] 12

[1] 0.75

[1] 81

Now perform the following:

- Rerun multiplication using the arrow keys.

- Redo the addition, but edit it to use 42 as the left operand.

- Return to the division, and multiply the denominator by 12 (i.e. use brackets for the denominator).

**2. Creating and Removing Objects**

- Compute the age of a 25-year old in terms of months, and store this value.

- Remove the object where you stored the 25-year old's age (in months). 

- Verify that it's not present in the Environment any more.

- (Bonus/Challenge) Now how do you get it back?


**3. Descriptive Statistics**

- Using mtcars, compute the 75th percentile for displacement and mpg. 

- CHALLENGE: Can you do it with a single command?

- Create a table for the number of gears.

**4. Writing and Reading Data**

- Write `mtcars` as a comma delimited file, include the row names.
 
- Read the file into R. Do you notice a problem? See if there is a way to fix it using the arguments of the function you used to read the file.



# R Basics Activity Solutions

### Part I

<details>
  <summary>Click here for Solution Part I</summary>
  
  `42 + 4`
  
  `3 / (4 * 12)`
</details>

### Part II

<details>
  <summary>Click here for Solution Part II</summary>

  `Age25_Months = 25*12`

  `rm(Age25_Months)`

  `ls()`

  `Age25_Months = 25*12`
</details>

### Part III

<details>
  <summary>Click here for Solution Part III</summary>

  `quantile(mtcars$disp, probs=0.75)`

  `quantile(mtcars$mpg, probs=0.75)`

  `sapply(mtcars[c("disp", "mpg")], quantile, probs=0.75)`

  `table(mtcars$gear)`
</details>

### Part IV

<details>
  <summary>Click here for Solution Part IV</summary>

  `write.csv(mtcars, file="mtcars.csv", row.names=TRUE)`

  `read.csv("mtcars.csv", row.names=1)`
</details>